@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Raleway:wght@300&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  color: #4B4E6D;
  margin: 0 auto;
}
img {
  width: 120px;
}
h1, h2 {
  font-family: 'Cormorant Garamond', serif;
}
h1 {
  font-size: 40px;
  margin-top: 0;
}
h2 {
  font-size: 30px;
}
.light-green-blue {
  color: #84DCC6
}
.header {
  text-align: center;
  margin-bottom: 35px;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  height: 50vh;
}
.header p {
  width: 70%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
}
.header img {
  border-radius: 50%;
}
.container {
  margin: 0 auto;
  width: 85%;
  display: flex;
  gap: 18px;
}
.card {
  padding: 0;
}
.follow {
  text-align: center;
  margin-top: 60px;
}
.follow ul {
  list-style: none;
  padding-left: 0;
}
.follow li {
  display: inline;
}
.follow i {
  color: #D63230;
  font-size: 25px;
}
@media (max-width: 700px) {
  .container {
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    /* gap: 18px; */
  }
  .card {
    padding: 0;
  }
}
